<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Applicazione do allenamento per la matematica">
    <meta name="author" content="Matteo Bortolotto">

    <title>Yamath</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({extensions: ["tex2jax.js"], jax: ["input/TeX", "output/HTML-CSS"], tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ], processEscapes: true }, "HTML-CSS": { availableFonts: ["TeX"] } }); </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <style type="text/css">
        body {
          padding-top: 70px;
          padding-bottom: 30px;
        }

        .theme-dropdown .dropdown-menu {
          position: static;
          display: block;
          margin-bottom: 20px;
        }

        .theme-showcase > p > .btn {
          margin: 5px 0;
        }

        .theme-showcase .navbar .container {
          width: auto;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/personal.js' %}"></script>
    <script type="text/javascript">
      // using jQuery
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      localStorage['bloomerUsername'] = '{{ bloomer.username }}';
      localStorage['serieSerial']='none';
      localStorage['topicSerial']='none';
      localStorage['questionSerial']='none';
      localStorage['answer']='none';
      loadDoneSeries('{{ bloomer.username}}');
      loadTodoSeries('{{ bloomer.username}}');
      loadLateSeries('{{ bloomer.username}}');
      loadEnvelopes('{{ bloomer.username}}');
    </script>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"  onClick="window.location.assign('{% url 'logout' %}');">
            <span class="glyphicon glyphicon-log-out" style="color:#ddd;"></span>
          </button>
          <button type="button" class="navbar-toggle" onClick="sendEnvelope();">
            <span class="glyphicon glyphicon-envelope" style="color:#ddd;"></span>
          </button>
          <button type="button" class="navbar-toggle" onClick="window.location.assign('{% url 'blooming:index' %}');">
            <span class="glyphicon glyphicon-book" style="color:#ddd;"></span>
          </button>
          <button type="button" class="navbar-toggle" onClick="window.location.assign('{% url 'backend:bloomer_details' bloomer.username %}');">
            <span class="glyphicon glyphicon-user" style="color:#ddd;"></span>
          </button>
          <button type="button" class="navbar-toggle" onClick="mathjaxTypeset();">
            <span class="glyphicon glyphicon-refresh" style="color:#ddd;"></span>
          </button>
          <a class="navbar-brand" href="/">Yamath</a>
        </div>
        <div id="navbar0" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <div class="navbar-form form-inline" method="get" action="#" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onClick="MathJax.Hub.Queue(['Typeset',MathJax.Hub]);">
                  RiFormula <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </div>
            </li>
            <li>
              <form class="navbar-form form-inline" method="get" action="{% url 'backend:bloomer_details' bloomer.username %}" autocomplete="off">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  Profilo <span class="glyphicon glyphicon-user"></span>
                </button>
              </form>
            </li>
            <li>
              <form class="navbar-form form-inline" method="get" action="{% url 'blooming:index' %}" autocomplete="off">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  Contenuti <span class="glyphicon glyphicon-book"></span>
                </button>
              </form>
            </li>
            <li>
              <div class="navbar-form form-inline" method="post" action="#" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  onClick="sendEnvelope();">
                  Messaggio <span class="glyphicon glyphicon-envelope"></span>
                </button>
              </div>
            </li>
            <li>
              <form class="navbar-form form-inline" method="post" action="{% url 'logout' %}" autocomplete="off">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  Esci <span class="glyphicon glyphicon-log-out"></span>
                </button>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% if request.user.is_superuser %}
    <p><a href="{% url 'backend:index' %}">Backend</a></p>
    {% endif %}
    <div class="container" id="messageDisplay">
      {% if messages %}
      <div class="row" id="messageDisplayDjango">
        <div class="col-xs-12">
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <p class="alert alert-danger">{{ message }}</p>
          {% elif message.tags == 'success' %}
          <p class="alert alert-success">{{ message }}</p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger" id="messageDisplayError" style="display: none;"></div>
          <div class="alert alert-success" id="messageDisplaySuccess" style="display: none;"></div>
        </div>
      </div>
    </div>
    
    <div class="container theme-showcase" role="main">
      <div id="seriesIndex">
        <h3>Argomenti completati</h3>
        <ol id='doneSeries'></ol>
        <h3>Argomenti da affrontare</h3>
        <ol id='todoSeries'></ol>
        <h3>Argomenti per il futuro</h3>
        <ol id='lateSeries'></ol>
        <h3>Messaggi per te</h3>
        <ol id='envelopes'></ol>
      </div>
      <div id="questionDisplay">
        <div class="container">
          <div class="row" id='questionDisplayText'>
          </div>
          <div class="row" id='questionDisplayForm'>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
