{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<p>Benvenut* {{ user.username }}!</p>
<hr />
<p>Questi i tuoi risultati attuali:
<ol>
{% for tuple in info %}
  <li><span class="topic_{{ tuple.2 }}">{{ tuple.0.text }}: {{ tuple.1 }}% ...</span> <a href="{% url 'blooming:question' tuple.0.pk %}">esercitati</a>!</li>
{% endfor %}
</ol>
</p>
{% else %}
<p>Benvenuto nella pagina di allenamento. Per vedere il proprio profilo e fare allenamento effettuare il login.</p>
{% endif %}

{% endblock %}
