{% extends "base.html" %}

{% block content %}

{% if question.kind == 'ibool' or question.kind == 'pbool' %}
<form method="post" action="{% url 'blooming:submit' %}" autocomplete="off">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ question.text|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <input type="submit" name="answer" value="vero" />
        </div>
        <div class="col-xs-6">
            <input type="submit" name="answer" value="falso" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <em>{{ question.notes|safe }}</em>
        </div>
    </div>
</div>
<input type="hidden" name="topic_pk" value="{{ topic.pk }}" />
<input type="hidden" name="question_pk" value="{{ question.pk }}" />
</form>

{% elif question.kind == 'imulti' or question.kind == 'pmulti' %}
<form method="post" action="{% url 'blooming:submit' %}" autocomplete="off">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ question.text|safe }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% for option in question.shuffled_options %}
            <p><input type="radio" name="option_{{ option.pk }}" value="{{ option.text }}"/> {{ option.text|safe }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="invia" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <em>{{ question.notes|safe }}</em>
        </div>
    </div>
</div>
<input type="hidden" name="topic_pk" value="{{ topic.pk }}" />
<input type="hidden" name="question_pk" value="{{ question.pk }}" />
</form>

{% else %}

<p>{{ question.text|safe }}</p>
<form method="post" action="{% url 'blooming:submit' %}" autocomplete="off">
{% csrf_token %}
<table>
<tr>
    <td>Risposta:</td>
    <td><input type="text" name="answer" /></td>
</tr>
</table>

<input type="submit" value="invia" />
<input type="hidden" name="topic_pk" value="{{ topic.pk }}" />
<input type="hidden" name="question_pk" value="{{ question.pk }}" />
</form>

<p><em>{{ question.notes|safe }}</em></p>

{% endif %}

{% endblock %}
