{% extends "base.html" %}

{% block content %}

<h1>Pagina di risposta</h1>
<h3>Alla domada:</h3>
<p>{{ question.text|safe }}</p>
<h3>hai risposto</h3>
<p>{{ option.text }}</p>
<h3>la risposta è stata considerata:</h3>
<p>
    {% if option.status == 'a' %}corretta!{% endif %}
    {% if option.status == 'p' %}sospesa.<br /> Significa che ti sono stati assegnati i punti come fosse corretta, però il tuo insegnante controllerà la risposta e deciderà se la risposta è corretta o sbagliata{% endif %}
    {% if option.status == 'r' %}sbagliata.<br /> Una risposta corretta (possibilmente l'unica risposta corretta) sarebbe stata: {{ question.correct_answer }}.{% endif %}
</p>
<hr />
<p><a href="{% url 'blooming:question' question.topic.pk %}">Rispondi sullo stesso tema</a></p>
<p><a href="{% url 'blooming:index' %}">Torna all'indice</a></p>

{% endblock %}
