.error {
  color: red;
  font-size: 160%;
}

.success {
  color: green;
  font-size: 160%;
}

.topic_ok {
  color: green;
}

.topic_todo {
  color: orange;
  font-style: italic;
}

.topic_far {
  color: gray;
}

form .container .row .col-xs-8 {
    border-bottom: 1px solid #8cf;
    padding-bottom: 4px;
}

form .container .row .col-xs-8 input[type="text"] {
    width: 70%;
}

.index_container .row {
    padding-bottom: 4px;
    padding-top: 4px;
}

.index_container .row:hover {
    background-color: #def;
}

.index_container .header:hover{
    background-color: #fff;
}