<div class="container">
    <div class="row">
        <div class="col">
            <form>
              <div class="form-group">
                <label for="username">Nome utente</label>
                <input id="username" type="text" name="username" class="form-control" placeholder="nome utente">
              </div>
              <div class="form-group">
                <label for="password">Parola chiave</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="parola chiave">
              </div>
              <button type="submit" class="btn btn-primary" onclick="look.hide('activeBoard');look.hookLogin();">Accedi</button>
            </form>
        </div>
    </div>
</div>
