{% extends "base.html" %}
{% load backend_extras %}

{% block content %}

<form method="post" action="{% url 'backend:bloomer_details' bloomer.username %}" autocomplete="off">
{% csrf_token %}
<h1>Profile: {{ bloomer.username }}</h1>
<p>Nome: <input type="text" name="first_name" value="{{ bloomer.first_name }}" /></p>
<p>Cognome: <input type="text" name="last_name" value="{{ bloomer.last_name }}" /></p>
<p>Email: <input type="text" name="email" value="{{ bloomer.email }}" /></p>
<p>Nuova password [almeno quattro caratteri (<strong>attenzione!</strong>)]: <input type="text" name="password" value="" /></p>
<p>Classe: {% for c in bloomer.classrooms %}{{ c.name }}, {% endfor %}</p>
<input type="submit" value="salva" />
</form>
<a href="{% url 'main' %}">Torna alla pagina principale</a>
<h2>Punteggi</h2>
{% for s in bloomer.series %}
<h3>{{ s.name }} ({{ bloomer|bsMean:s|stringformat:"0.2f" }})</h3>
{% for t in s.topics %}
<p> - {{ t.name }} ({{ bloomer|btMean:t|stringformat:"0.2f" }})</p>
{% endfor %}
{% endfor %}

{% endblock %}