{% extends "base.html" %}
{% load backend_extras %}

{% block content %}
<h1>Bloomers</h1>
{% for c in classrooms %}
<h3>Classroom {{ c.name }}</h3>
    {% for b in c.bloomers %}
    <p><a href="{% url 'backend:bloomer_details' b.username %}">{{ b.username }}</a> {{ b.mean|stringformat:"0.2f" }}</p>
    {% endfor %}
{% endfor %}

<!--<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Bloomers</h1>
        </div>
    </div>
    {% for bloomer in bloomers %}
    <div class="row">
        <div class="col-xs-4">
            Bloomer <a href="{ url 'backend:bloomer_details' bloomer.user.username }">{{ bloomer.user.username }}</a> ({{ bloomer.score_mean }}%) <a href="#bloomer_{{ bloomer.user.username }}" data-toggle='collapse'>expand</a>
        </div>
        <div class="col-xs-8 collapse" id="bloomer_{{ bloomer.user.username }}">
            <ol>
                { for topic in bloomer.topics }
                <li>Topic <a href="{ url 'backend:topic_details' topic.pk }">{{ topic.pk }}</a> ({ bloomer|fltr_scorebloomertopic:topic }%) {{ topic.text }}</li>
                { endfor }
            </ol>
        </div>
    </div>
    {% endfor %}
</div>-->

{% endblock %}