{% extends "base.html" %}

{% block content %}

<h1>Classroom: {{ classroom.serial }}</h1>
<p>Bloomers in this classroom:
<ol>
    {% for bloomer in classroom.bloomers %}
    <li><a href="{% url 'backend:bloomer_details' bloomer.user.username %}">{{ bloomer.user.username }}</a></li>
    {% endfor %}
</ol></p>
<p>Topics for this classroom:
<ol>
    {% for topic in classroom.topics %}
    <li><a href="{% url 'backend:topic_details' topic.pk %}">{{ topic.pk }}</a></li>
    {% endfor %}
</ol></p>
<hr />
<form method="post" action="{% url 'backend:classroom_details' classroom.serial %}" autocomplete="off">
{% csrf_token %}
<p>Serial: <input type="text" name="serial" value="{{ classroom.serial }}" /></p>
<p>Bloomers: add one <input type="text" name="new_bloomer" />
<ol>
    {% for bloomer in classroom.bloomers %}
    <li>
        <input type="checkbox" name="bloomer_checkbox_{{ bloomer.user.username }}" checked/> {{ bloomer.user.username }}
    </li>
    {% endfor %}
</ol></p>
<input type="submit" value="salva" />
</form>

{% endblock %}