{% extends "base.html" %}

{% block content %}


<form method="post" action="{% url 'backend:classroom_details' classroom.name %}" autocomplete="off">
{% csrf_token %}
<p><a href="{% url 'backend:index' %}">backend</a> / <a href="{% url 'backend:classrooms' %}">classrooms</a></p>
<h1>Classroom: {{ classroom.name }}</h1>
<p>Name <input type="text" name="name" value="{{ classroom.name }}" /></p>
<p>
    Series
    <ol>
        {% for serie in classroom.series %}
        <li>
            {{ serie.serial }} <a href="{% url 'backend:serie_details' serie.serial %}">{{ serie.name }}</a>
        </li>
        {% endfor %}
        <li>
            add serie <input type="text" name="add_serie" />
        </li>
        <li>
            del serie <input type="text" name="del_serie" />
        </li>
    </ol>
</p>
<p>
    Bloomers
    <ol>
    {% for bloomer in classroom.bloomers %}
        <li>
            <a href="{% url 'backend:bloomer_details' bloomer.username %}">{{ bloomer.username }}</a>
        </li>
    {% endfor %}
        <li>
            add bloomer <input type="text" name="add_bloomer" />
        </li>
        <li>
            del bloomer <input type="text" name="del_bloomer" />
        </li>
    </ol>
</p>
<input type="submit" value="salva" />
</form>

{% endblock %}