{% extends "base.html" %}

{% block content %}

<h1>Pendings</h1>

{% for option in pendings %}
<p>Bloomer: {{ option.bloomer.user.username }}</p>
<p>Question {{ option.question.pk }}:<br />
<quote>{{ option.question.text|safe }}</quote></p>
<p>Option {{ .option.pk }} {{ option.status }}: {{ option.text }} (correct is {{ option.question.get_correct.text }})</p>
<form method="post" action="{% url 'backend:pending_solved' option.pk %}" autocomplete="off">
{% csrf_token %}
<input type="submit" name="option_accepted" value="Accepted" />
<input type="submit" name="option_rejected" value="Rejected" />
</form>
<hr />
{% endfor %}


{% endblock %}