{% extends "base.html" %}

{% block content %}

<p><a href="{% url 'backend:index' %}">backend</a> / <a href="{% url 'backend:series' %}">series</a> / <a href="{% url 'backend:serie_details' question.topic.serie.serial %}">{{ question.topic.serie.serial }}</a> / <a href="{% url 'backend:topic_details' question.topic.serial %}">{{ question.topic.serial }}</a> </p>
<h1>Question {{ question.serial }}</h1>
<form method="post" action="{% url 'backend:question_details' question.serial %}" autocomplete="off">
{% csrf_token %}
    <p>Topic {{ question.topic.serial }} {{ question.topic.name }}</p>
    <p>Text <textarea name="text">{{ question.text }}</textarea></p>
    <p>Kind <input type="text" name="kind" value="{{ question.kind }}" /></p>
    <p>Options
        <ol>
            {% for option in question.options %}
            <li>{{ option.serial }}{% if option.accepted %}a{% else %}r{% endif %} <a href="{% url 'backend:option_details' option.serial %}">{{ option.text }}</a></li>
            {% endfor %}
            <li><a href="{% url 'backend:option_new' question.serial %}">new option</a></li>
        </ol>
    </p>
<input type="submit" value="salva">
</form>
{% endblock %}