{% extends "base.html" %}

{% block content %}

<form method="post" action="{% url 'backend:topic_details' topic.pk %}" autocomplete="off">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Topic {{ topic.pk }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Text</h4>
        </div>
        <div class="col-xs-8">
            <input type="text" name="text" value="{{ topic.text }}" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Bloom index</h4>
        </div>
        <div class="col-xs-8">
            <input type="text" name="bloom_index" value="{{ topic.bloom_index }}" /><br />
            mobile <input type="checkbox" name="mobile" {% if topic.mobile %}checked{% endif %} />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Antes</h4>
        </div>
        <div class="col-xs-8">
            add one<input type="text" name="new_ante" value="" />
            <ol>
                {% for ante in topic.antes %}
                <li>
                    <input type="checkbox" name="antes_checkbox_{{ ante.pk }}" checked/>
                    <a href="{% url 'backend:topic_details' ante.pk %}">{{ ante.pk }}</a> {{ ante.text }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Posts</h4>
        </div>
        <div class="col-xs-8">
            add one<input type="text" name="new_post"/>
            <ol>
                {% for post in topic.posts %}
                <li>
                    <input type="checkbox" name="posts_checkbox_{{ post.pk }}" checked/>
                    <a href="{% url 'backend:topic_details' post.pk %}">{{ post.pk }}</a> {{ post.text }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Classrooms</h4>
        </div>
        <div class="col-xs-8">
            <ol>
                {% for classroom in classrooms %}
                <li>
                    <input type="checkbox" name="classroom_checkbox_{{ classroom.serial }}" {% if classroom in topic.classrooms %}checked{% endif %} /> {{ classroom.serial }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Questions</h4>
        </div>
        <div class="col-xs-8">
            <ol>
                {% for question in questions %}
                <li>
                    Question <a href="{% url 'backend:question_details' question.pk %}">{{ question.pk }}</a> ({{ question.kind }})
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="salva" />
        </div>
    </div>
</div>
</form>

{% endblock %}