{% extends "base.html" %}

{% block content %}

<p><a href="{% url 'backend:index' %}">backend</a> / <a href="{% url 'backend:series' %}">series</a> / <a href="{% url 'backend:serie_details' topic.serie.serial %}">{{ topic.serie.serial }}</a> </p>
<form method="post" action="{% url 'backend:topic_details' topic.serial %}" autocomplete="off">
{% csrf_token %}
<h1>Topic {{ topic.serial }}</h1>
<p>Name <input type="text" name="name" value="{{ topic.name }}" /></p>
<p>Serie {{ topic.serie.serial }} {{ topic.serie.name }}</p>
<p>Kind <input type="text" name="kind" value="{{ topic.kind }}" /></p>
<p>Mobile <input type="checkbox" name="mobile" {% if topic.mobile %}checked{% endif %}/></p>
<p>
    Questions
    <ol>
    {% for question in topic.questions %}
        <li>
            {{ question.serial }} <a href="{% url 'backend:question_details' question.serial %}">{{ question.text }}</a>
        </li>
    {% endfor %}
        <li>
            <a href="{% url 'backend:question_new' topic.serial %}">new question</a>
        </li>
    </ol>
</p>
<input type="submit" value="salva" />
</form>

{% endblock %}