{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<p>Benvenut* {{ user.username }}!</p>
<hr />
<p>Questi i tuoi risultati attuali:
<ol>
    <li>(5001) Equazioni numeriche intere. <a href="{% url 'question' 5001 %}">Esercitati!</a></li>

<!--{% for tuple in info %}
  <li><span class="topic_{{ tuple.2 }}">{{ tuple.0.description }}: {{ tuple.1 }}% ...</span> {% if tuple.2 != 'far' %}<a href="{% url 'question' tuple.0.serial %}">esercitati</a>!{% endif %}</li>
{% endfor %}-->
</ol>
</p>
{% else %}
<p>Benvenuto nella pagina di allenamento. Per vedere il proprio profilo e fare allenamento effettuare il login.</p>
{% endif %}

{% endblock %}
