.error {
  color: red;
  font-size: 160%;
}

.success {
  color: green;
  font-size: 160%;
}

.topic_ok {
  color: green;
}

.topic_todo {
  color: orange;
  font-style: italic;
}

.topic_far {
  color: gray;
}
